<template>
  <v-app-bar app dark elevate-on-scroll>
    <h1 class="display-1 font-weight-medium">Website</h1>

    <template v-slot:extension>
      <v-tabs align-with-title>
        <v-tab v-for="link in links" :key="link.path" :to="link.path" exact exact-active-class="active">
          {{ link.text }}
        </v-tab>
      </v-tabs>
    </template>
  </v-app-bar>
</template>
<script lang="ts">
import Vue from "vue";
import { Link } from "@/Models/Models";
export default Vue.extend({
  props: {
    links: {
      type: Array as () => Link[],
    },
  },
});
</script>
<style scoped lang="scss">
.active {
  color: #42b983;
}
</style>
