<template>
  <div id="app">
    <application-bar :links="this.routerLinks"></application-bar>
    <v-content>
        <router-view />
    </v-content>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import ApplicationBar from "./components/ApplicatioBar.vue";
import { Link } from "@/Models/Models";
export default Vue.extend({
  components: {
    "application-bar": ApplicationBar,
  },
  data() {
    return {
      routerLinks: [
        {
          path: "/",
          text: "Home",
        }, 
        {
            path: "/about",
            text: "About"
        }
      ] as Link[],
    };
  },
});
</script>
<style>
</style>
